name: Publish to NPM
on:
  release:
    types: [created]
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
          scope: '@itgorillaz'
      - name: Update npm
        run: npm install -g npm@latest
      - name: Install dependencies and build
        run: npm ci && npm run build
      - name: Copy files for distribution
        run: cp package.json README.md LICENSE dist
      - name: Publish package on NPM
        run: npm publish ./dist --access public
